.navigation {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    height: 55px;
}
.link {
    display: block;
    padding: 15px;
    font-size: 22px;
    text-decoration: none;
    color: #000001;
}
.link:hover {
    background-color: #d6d6dba2;
    color: #ca2b60;
    border-bottom: #ca2b60 solid 4px;
}
.linkActive {
    color: #ca2b60;
}
.item {
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;

    color: #000001;
}
